<nav>
  <div class="nav-field">
    <div class="options content-center">
      <a routerLink="home">
        Home
      </a>
    </div>
    <div class="options content-center">
      <a routerLink="user">
        User
      </a>
    </div>
    <div class="options content-center">
      <a routerLink="user/chat">
        Chat
      </a>
    </div>
    <div class="nav-right-options">
      <div class="options content-center">
        <a routerLink="register">
          Register
        </a>
      </div>
      <div class="options content-center">
        <a routerLink="login">
          Login
        </a>
      </div>
      <div class="options content-center">
        <a routerLink="profile">
          Profile
        </a>
      </div>
      <div class="options content-center">
        <a href (click)="logout()">
          Logout
        </a>
      </div>
    </div>
  </div>
</nav>
