<div id="app">
    <app-navigation></app-navigation>
<!--  <nav>-->
<!--    <a href="#">bezKoder</a>-->
<!--    <ul routerLinkActive="active">-->
<!--      <li >-->
<!--        <a href="/home" routerLink="home">Home </a>-->
<!--      </li>-->
<!--      <li *ngIf="showAdminBoard">-->
<!--        <a href="/admin" routerLink="admin">Admin Board</a>-->
<!--      </li>-->
<!--      <li *ngIf="showModeratorBoard">-->
<!--        <a href="/mod" routerLink="mod">Moderator Board</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a href="/user" *ngIf="isLoggedIn" routerLink="user">User</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--    <ul *ngIf="!isLoggedIn">-->
<!--      <li>-->
<!--        <a href="/register" routerLink="register">Sign Up</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a href="/login" routerLink="login">Login</a>-->
<!--      </li>-->
<!--    </ul>-->

<!--    <ul *ngIf="isLoggedIn">-->
<!--      <li>-->
<!--        <a href="/profile" routerLink="profile">{{ username }}</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href (click)="logout()">LogOut</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </nav>-->

  <div>
    <router-outlet></router-outlet>
  </div>
</div>
